<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyMuaBanSach.Properties.Settings.QLMuaBanSachConnectionString"
            connectionString="Data Source=DangKhoa;Initial Catalog=QLMuaBanSach;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyMuaBanSach.Properties.Settings.QLMuaBanSach11ConnectionString"
            connectionString="Data Source=DESKTOP-R2SFBLB\SQLEXPRESS;Initial Catalog=QLMuaBanSach11;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>